<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/second.css">
		</head>
		<style>
		html {
		background:url("https://wallpapercave.com/wp/wp2282753.jpg") no-repeat center center fixed;
		-webkit-background-size:cover;
		background-size:cover;
		background-color: #cccccc;
		}
		</style>
		<body>
			{% include pages.html %}
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			{% include footer.html %}
		</body>
	</html>
