<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<style>
		html {
		background-color: #cccccc;
		}
		</style>
		<center>
		<body>
		<img src="https://rastej.github.io/images/firstpicture.png" alt="Profile photo" width="15%"  height="auto">
		<h1>{{ site.name }}</h1>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<nav>
	    		<ul>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        	</ul>
			</nav>
			<nav>
				<ul>
					<li><a href="/blog">Blog</a></li>
				</ul>
			</nav>
			<footer>
	    		<ul>
	        		<li><a href="mailto:{{ site.email }}">email</a></li>
	        		<li><a href="https://github.com/rastej">{{ site.gitpage }}</a></li>
			</ul>
			</footer>
		</body>
		</center>
	</html>
